<h1><%= @post.title %></h1>
  <% if @post.categories %>
  <h2><%= "Categories: #{@post.categories.map {|category| category.name}.join(", ")}"%></h2>
  <%end%>

<h3><%= @post.content %></h3>


<ul>
Users: <br>
<% @post.users.uniq.each do |user| %>
<%=link_to user.username, user_path(user)%>
<%end%>
</ul>

Comments: </br>
<ul>
    <% @post.comments.each do |comment| %>
    <%if comment.user%>
    <li><%= comment.user.username %> says: <%= comment.content %></li>
    <%else%>
    <%end%>
    <%end%>
</ul>

Post a comment : </br>
<%= form_for @post.comments.build do |f| %>
<input type="hidden" id="hidden" name="comment[post_id]" value="<%=@post.id%>">
<%= f.label :comment %>
<%= f.text_field :content%>
  <p>
  <%= f.collection_select :user_id, User.all, :id, :username, include_blank: true %>
  </p>
  <p><%= f.fields_for :user, @post.users.build do |user_fields| %>
    <%= user_fields.text_field :username %>
  </p>
  <%end%>
  <%= f.submit %>
  <%end %>
